<!doctype html>
<html lang="en" id="global" itemscope itemtype="http://schema.org/WebPage">
<head>
<title>{{#seoTitle|notEmpty}}{{seoTitle}}{{/seoTitle}}{{#seoTitle|isEmpty}}{{section.name}}{{/seoTitle}} | {{site.name}}</title>
{{#seoDesc|notEmpty}}<meta name="description" content="{{seoDesc}}">{{/seoDesc}}
{{#seoNoIndex|notEmpty}}
<meta name="robots" content="noindex, follow">
{{/seoNoIndex}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{site.assetUrl}}/css/style.min.css?v{{site.cssVersion}}">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400">
<link rel="apple-touch-icon" href="/touchicon.png">
<link rel="publisher" href="https://plus.google.com/{{site.social.googlePageID}}">
{{#author|notEmpty}}
<link rel="author" href="{{author}}">
{{/author}}
<meta name="twitter:card" content="{{cardType||summary}}">
<meta name="twitter:site" content="@{{site.social.twitter}}">
<meta property="og:site_name" content="{{site.name}}">
<meta property="og:title" content="{{#seoTitle|notEmpty}}{{seoTitle}}{{/seoTitle}}{{#seoTitle|isEmpty}}{{site.name}}{{/seoTitle}}" itemprop="name">
{{#seoDesc|notEmpty}}<meta property="og:description" content="{{seoDesc}}" itemprop="description">{{/seoDesc}}
<meta property="og:url" content="{{url}}" itemprop="url">
<meta property="og:image" content="{{site.cdnUrl}}{{#shareImage|notEmpty}}{{shareImage}}{{/shareImage}}{{#shareImage|isEmpty}}/share.png{{/shareImage}}" itemprop="image">
<!--[if lt IE 9]>
<link rel="stylesheet" href="{{site.assetUrl}}/css/ie8.min.css?v{{site.cssLegacyVersion}}">
<script src="{{site.assetUrl}}/js/ie8.min.js?v{{site.jsLegacyVersion}}"></script>
<![endif]-->
<!--[if lte IE 9]>
<link rel="stylesheet" href="{{site.assetUrl}}/css/ie9.min.css?v{{site.cssLegacyVersion}}">
<script src="{{site.assetUrl}}/js/ie9.min.js?v{{site.jsLegacyVersion}}"></script>
<![endif]-->
{{#site.env|is(prod)}}
{{> tracking}}
{{/site.env}}
</head>