/*------------------------------------*\
	# Global
\*------------------------------------*/

#global {
	.-no-outline {
		outline: none;
	}
	.-is-changing {
		&,
		*,
		*:before,
		*:after {
			.transition();
		}
	}
}





/*------------------------------------*\
	# General
\*------------------------------------*/

.load-font(wee);

.breadcrumb {
	.font-size(1);
	.gray();
	.inline-list('/', 6px);
	.spaced(2.5);
	.uppercase();
}
.main {
	.relative();
}





/*------------------------------------*\
	# Dark Scheme
\*------------------------------------*/

body {
	&.-dark {
		.background(@dark);
		address,
		dt,
		figcaption,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		label,
		p,
		ol,
		q,
		td,
		th,
		ul {
			.lighterGray();
		}
		tr {
			&:nth-child(odd) td {
				.background(@dark-6);
			}
		}
		table {
			caption {
				.background(@dark-6);
				.lighterGray();
			}
		}
		code {
			.background(@dark-6);
			.color(@light);
		}
		pre {
			code {
				.background(@dark3);
			}
		}
		.header {
			.background(@dark);
			.border-color(@dark6);
			&__logo {
				&:hover {
					path {
						.fill(@lighterGray);
					}
				}
				path {
					.fill(@white);
				}
			}
			&__pull {
				.white();
				&:hover {
					.lighterGray();
				}
			}
			&__title {
				.color(@light);
			}
			&__button {
				.background(@dark);
				.border-color(@lighterGray);
				.lighterGray();
				&:hover {
					.background(@lighterGray);
					.color(@dark);
				}
			}
		}
		.footer {
			&__license {
				&:before {
					.white();
				}
			}
		}
		.switch {
			&:hover {
				&:before {
					.brightness(120%);
				}
			}
			&:before {
				.primary();
			}
			&__toggle {
				&:before {
					.background(@dark9);
				}
				&:after {
					.background(@dark-12);
					.border-color(@dark9);
					.left(0);
				}
			}
		}
		.search {
			.background(@dark9);
			&__input {
				.color(@light);
			}
			&__button {
				&:before {
					.gray();
				}
				&:hover {
					&:before {
						.lightGray();
					}
				}
			}
			&__results {
				.background(@dark3);
				&:before {
					.background(@dark3);
				}
				&__entry {
					&:hover,
					&.-is-active {
						.background(@dark9);
					}
				}
			}
		}
		.hero {
			.white();
		}
		.home-label {
			.border(top; @dark-12);
			.color(@dark-30);
		}
		.components {
			.background(@dark3);
		}
		.highlights {
			&__item {
				.border(@dark-12);
			}
		}

		// TODO: clean up
		.sidebar {
			a {
				.lighterGray();
			}
			a:hover {
				.white();
			}
		}
		.topnav {
			.border-color(@dark3);
			a {
				&.-is-active {
					.background(@dark3);
				}
			}
		}
		.subnav {
			.background(@dark3);
		}

		.doc {
			&__variables {
				.border-color(@dark-12);
			}
			&__code {
				&.-boolean,
				&.-object,
				&.-string,
				&.-number,
				&.-array {
					pre {
						&:last-child {
							&:before {
								.lighterGray();
							}
						}
					}
				}
				&.-array {
					pre {
						&:last-child {
							&:before {
								.background(none);
								.color(@light);
							}
						}
					}
				}
			}
			&__note {
				p {
					.background(@dark9);
				}
				code {
					.background(@dark);
					.color(@light);
				}
			}
			&__notice {
				p {
					.color(@dark9);
				}
			}
		}

		// Syntax highlighting
		.hljs-keyword,
		.hljs-literal,
		.hljs-change,
		.hljs-winutils,
		.hljs-flow,
		.nginx .hljs-title,
		.css .hljs-id,
		.tex .hljs-special {
			color: #93c763;
		}
		.hljs-number {
			color: #ffcd22;
		}
		.hljs {
			color: #e0e2e4;
		}
		.css .hljs-tag,
		.css .hljs-pseudo {
			color: #d0d2b5;
		}
		.hljs-attribute,
		.hljs .hljs-constant {
			color: #668bb0;
		}
		.xml .hljs-attribute {
			color: #b3b689;
		}
		.xml .hljs-tag .hljs-value {
			color: #e8e2b7;
		}
		.hljs-code,
		.hljs-class .hljs-title,
		.hljs-header {
			color: white;
		}
		.hljs-class,
		.hljs-hexcolor {
			color: #93c763;
		}
		.hljs-regexp {
			color: #d39745;
		}
		.hljs-at_rule,
		.hljs-at_rule .hljs-keyword {
			color: #a082bd;
		}
		.hljs-doctype {
			color: #557182;
		}
		.hljs-link_url,
		.hljs-tag,
		.hljs-tag .hljs-title,
		.hljs-bullet,
		.hljs-subst,
		.hljs-emphasis,
		.hljs-type,
		.hljs-preprocessor,
		.hljs-pragma,
		.ruby .hljs-class .hljs-parent,
		.hljs-built_in,
		.django .hljs-template_tag,
		.django .hljs-variable,
		.smalltalk .hljs-class,
		.django .hljs-filter .hljs-argument,
		.smalltalk .hljs-localvars,
		.smalltalk .hljs-array,
		.hljs-attr_selector,
		.hljs-pseudo,
		.hljs-addition,
		.hljs-stream,
		.hljs-envvar,
		.apache .hljs-tag,
		.apache .hljs-cbracket,
		.tex .hljs-command,
		.hljs-prompt,
		.hljs-name {
			color: #8cbbad;
		}
		.hljs-string {
			color: #ec7600;
		}
		.hljs-comment,
		.hljs-annotation,
		.hljs-blockquote,
		.hljs-horizontal_rule,
		.hljs-decorator,
		.hljs-pi,
		.hljs-deletion,
		.hljs-shebang,
		.apache .hljs-sqbracket,
		.tex .hljs-formula {
			color: #818e96;
		}
		.hljs-keyword,
		.hljs-literal,
		.css .hljs-id,
		.hljs-doctag,
		.hljs-title,
		.hljs-header,
		.hljs-type,
		.vbscript .hljs-built_in,
		.rsl .hljs-built_in,
		.smalltalk .hljs-class,
		.diff .hljs-header,
		.hljs-chunk,
		.hljs-winutils,
		.bash .hljs-variable,
		.apache .hljs-tag,
		.tex .hljs-special,
		.hljs-request,
		.hljs-at_rule .hljs-keyword,
		.hljs-status {
			font-weight: bold;
		}
		.coffeescript .javascript,
		.javascript .xml,
		.tex .hljs-formula,
		.xml .javascript,
		.xml .vbscript,
		.xml .css,
		.xml .hljs-cdata {
			opacity: 0.5;
		}
	}
}





/*------------------------------------*\
	# Header
\*------------------------------------*/

.header {
	.align(middle);
	.background(@bodyBackground);
	.border(bottom; @light);
	.fill();
	.fixed(0; false; false; 0);
	.padded();
	.z-index(1000);
	&__root {
		.align(top);
		.height(7);
		.inline-block(8.6);
		.padding(right; 1.4);
		.padding(top; 2.1);
	}
	&__logo {
		&:hover {
			path {
				.fill(@linkColorHover);
			}
		}
		path {
			.fill(@primary);
		}
	}
	&__pull {
		.align(top);
		.cursor();
		.inline-block();
		.margin(top; 1.8);
		.primary();
		.user-select();
		&:hover {
			.color(@linkColorHover);
		}
		&:after {
			.content(@iconMenu);
			.font(wee; 1.6; false; 2);
		}
	}
	&__right {
		.right();
	}
	&__title {
		.font-size(1.9; 1.4);
		.font-weight(300);
		.hide();
		.padding(top; 2.1);
		.spaced(0);
		.primary();
	}
	&__nav {
		.align(top);
	}
	&__button {
		.background(@bodyBackground);
		.font-weight(400);
		.margin(left; .6);
		.margin(top; 1.5);
		.primary();
	}
}
.switch {
	.absolute(2.5; 50%);
	.cursor();
	.hide();
	&:hover {
		&:before {
			.gray();
		}
	}
	&:before {
		.absolute(-2.5; false; false; -2.5);
		.content(@iconScheme);
		.font(wee; 2; false; 7rem);
		.lightGray();
		.text-shadow(light; 30%; 0; 0; 20px);
	}
	&__toggle {
		&:before,
		&:after {
			.absolute();
			.content();
			.rounded(1);
		}
		&:before {
			.background(@lightGray);
			.block(3.4; 2);
		}
		&:after {
			.background(@lighterGray);
			.border(@lightGray);
			.block(2; 2);
			.left(1.4);
			.shadow(dark; 15%; 1px; 2px; 2px);
		}
	}
	&__checkbox {
		.absolute(-10);
	}
}
.search {
	.background(@light);
	.crop();
	.cursor();
	.inline-block();
	.margin(right; 2);
	.margin(top; 1.5);
	.padding(left; 3.9);
	.relative();
	.rounded(5);
	.transition();
	.width(0);
	&.-is-expanded {
		.overflow(visible);
		.width(24);
		input.search__input {
			.opaque();
		}
	}
	input&__input {
		.background(none);
		.border(none);
		.padding(1; 2; 1; 0);
		.spaced(0);
		.transition(opacity; .4s);
		.transparent();
		.width(20);
	}
	&__button {
		.absolute(0; false; false; 0);
		.square(3.9);
		&:before {
			.absolute(0; false; false; 1.2);
			.content(@iconSearch);
			.font(wee; 1.6; false; 2.4);
			.gray();
		}
		&:hover {
			&:before {
				.darkGray();
			}
		}
	}
	&__results {
		.absolute(5; false; false; 0);
		.background(@light);
		.fill();
		&:before {
			.absolute(-.5; false; false; 50%);
			.background(@light);
			.block(1; 1);
			.content();
			.margin(left; -.5);
			.rotate(45);
			.z-index(-1);
		}
		&__list {
			.unstyled();
			.spaced(0);
		}
		&__entry {
			.spaced(0);
			&:hover,
			&.-is-active {
				.background(@light4);
			}
		}
		&__link {
			.block();
			.padding(.6; 1.4);
		}
		&__title {
			.font-size(1.6);
			.spaced(.2);
		}
		&__desc {
			.font-size(1.3; 1.4);
			.gray();
			.spaced(.2);
		}
	}
}





/*------------------------------------*\
	# Footer
\*------------------------------------*/

.footer {
	.clearfix();
	.lightGray();
	.padding(.4; @bumperPadding);
	a {
		.gray();
		&:hover {
			.darkGray();
		}
	}
	&__license {
		.font-size(1.2);
		.spaced-block(.8);
		&:before {
			.align(middle);
			.content(@iconWee);
			.font(wee; 2; false; 2);
			.margin(right; 1);
			.primary();
		}
	}
	&__links {
		.font-size(1.2);
		.inline-list(1.2);
		.margin(.8; 0);
	}
}





/*------------------------------------*\
	# Sidebar
\*------------------------------------*/

.sidebar {
	.font-size(1.4);
	.margin(top; 7);
	.size(18; calc(100% - 7rem));
	&:hover {
		.thumb {
			.opacity(10%);
		}
	}
	a {
		.block();
		.darkestGray();
		.line-height(2.4);
		&:hover {
			.black();
		}
	}
	h3 {
		.font-size(1.4; 2.4);
		.font-weight(700);
		.spaced(0);
		a {
			.padding(left; 4);
		}
	}
	ul {
		.font-weight(300);
		.padding(bottom; 2.2);
		.spaced(.8);
		.unstyled();
		li {
			.spaced(0);
		}
		a {
			.padding(left; 4);
		}
	}
	.thumb {
		.absolute(0; false; false; 0);
		.background(@black);
		.cursor(pointer);
		.transition(opacity);
		.transparent();
		.width(1.2);
		&:hover {
			.opacity(15%);
		}
		&:active {
			.opacity(25%);
		}
	}
}
.overview {
	.fill();
	.padding(vertical; 3);
}
.viewport {
	.inline-block(18; 100%);
}
.scrollbar {
	.absolute(0; 0);
	.size(1.2; 100%);
}
.disable {
	.hide();
}
.noSelect {
	.user-select();
}
.topnav {
	.absolute(0; false; false; -18);
	.border(right; @light);
	a {
		&.-is-active {
			.background(@light);
		}
	}
}
.subnav {
	.background(@light);
	.fixed(0; false; false; 0);
	.hide();
	.left(18);
	h3 {
		.darkestGray();
		.padding(left; 4);
	}
	a {
		&.-is-active {
			.relative();
			&:before {
				.absolute(11px; false; false; 22px);
				.background(@primary);
				.circle(8px);
				.content();
			}
		}
	}
	&.-deprecated {
		a {
			.lightGray();
		}
	}
}





/*------------------------------------*\
	# Homepage
\*------------------------------------*/

.hero {
	.padding(vertical; 13; 5);
	.font-size(3; 1.4);
}
.home-label {
	.border(top; @lighterGray);
	.font-size(1.2);
	.font-weight(700);
	.lightGray();
	.padding(top; .6);
	.spaced(4);
	.uppercase();
}
.blog-preview {
	.spaced(7);
	&__title {
		.font-size(2);
		.font-weight(700);
		.spaced(.6);
	}
	&__copy {
		.font-size(1.6);
	}
}
.features {
	&__list {
		.unstyled();
	}
	&__item {
		.spaced(3);
	}
	&__title {
		.font-size(2);
		.font-weight(700);
		.spaced(.6);
		a {
			.block();
			&:after {
				.align(middle);
				.content(@iconArrow);
				.font(wee; .3; false; 2);
				.margin(left; .8);
			}
		}
	}
	&__copy {
		.font-size(1.6);
		.spaced(0);
	}
}
.highlights {
	.padding(vertical; 2.4; 3);
	&__list {
		.unstyled();
	}
	&__item {
		.border(@lightGray);
		.padding(1.5; 2.5);
		.rounded(1);
		.spaced(3);
	}
	&__title {
		.font-size(4);
		.spaced(.6);
		a {
			.block();
		}
	}
	&__copy {
		.font-size(1.8);
		.spaced(1.4);
	}
}
.components {
	.background(@light);
	.padding(vertical; 5; 3);
	&__list {
		.unstyled();
	}
	&__item {
		.spaced(3);
	}
	&__title {
		.font-size(2.4);
		.font-weight(700);
		.spaced(1);
	}
	&__copy {
		.font-size(1.6);
	}
}





/*------------------------------------*\
	# Docs
\*------------------------------------*/

.souce-link {
	.hide();
}
.output {
	.max-width(800px);
	.padding(vertical; 9.8; 4);
	.relative();
	.transition(margin-left);
	.z-index(100);
	.footer {
		.margin(top; 6);
	}
}
.intro {
	.spaced(3);
	&__title {
		.spaced(0);
	}
	&__link {
		.font-size(.8em);
		.lightGray();
		.line-height(1);
		&:after {
			.align(middle);
			.content(@iconArrow);
			.font(wee; 1; false; 2);
		}
		&:hover {
			.gray();
		}
	}
	&__heading {
		.h5();
		.gray();
		.spaced(2);
	}
}
.doc {
	&__title {
		.margin(vertical; 8; 2);
		.relative();
		a {
			.lightGray();
			&:hover {
				.gray();
			}
		}
		& + .doc__heading {
			.margin(top; -2);
		}
	}
	&__heading {
		.font-size(1.8);
		.gray();
		.line-height(1.5);
		.margin(vertical; -1.5; 2);
	}
	&__anchor {
		.absolute(0; false; false; -2.8);
		.font-weight(300);
		.hidden();
	}
	&__link {
		.font-size(.8em);
		.line-height(1);
		&:after {
			.align(middle);
			.content(@iconArrow);
			.font(wee; 1; false; 2);
		}
	}
	&__label {
		.darkGray();
		.font-size(2.4);
		.spaced(.6);
	}
	&__variables {
		.border(left; 3px; @lighterGray);
		.responsive-table();
		+ .doc__variables__label {
			.gray();
			.font-size(1.8);
			.margin(top; -1.6);
		}
		+ .doc__note {
			.margin(top; -2);
		}
		table {
			.font-size(1.3);
			ul {
				.line-height(1.5);
				.spaced(0);
			}
		}
		th,
		td {
			.no-wrap();
			&:nth-child(5) {
				.align(center);
				.width(9);
			}
		}
		td {
			.darkGray();
			.line-height(1.5);
			&:first-child {
				.bold();
			}
		}
		&__notes {
			.font-size(1.3);
			.line-height(1.5);
			.gray();
			.padding(1.2; .8; .6; .8);
			.spaced(0);
		}
		&.-variables {
			th,
			td {
				&:nth-child(-n+3) {
					.width(12);
				}
			}
		}
		&.-response {
			th,
			td {
				&:nth-child(2) {
					.width(12);
				}
			}
		}
	}
	&__code {
		+ .doc__code {
			.clear();
			.margin(top; -2);
		}
		&.-stacked {
			pre + pre {
				.margin(top; -2);
			}
		}
		&.-boolean,
		&.-object,
		&.-string,
		&.-number,
		&.-array {
			pre {
				&:last-child {
					.relative();
					.spaced(3);
					&:before {
						.absolute(-2.4; false; false; 0);
						.content('Response');
						.fill();
						.font(@headingFont; .9);
						.uppercase();
					}
				}
			}
		}
		&.-boolean {
			.responseText('Response / Boolean');
		}
		&.-object {
			.responseText('Response / Object');
		}
		&.-string {
			.responseText('Response / String');
		}
		&.-number {
			.responseText('Response / Number');
		}
		&.-array {
			.responseText('Response / Array');
		}
		&__label {
			.font-size(2.4);
		}
	}
	&__note {
		.font-size(1.4);
		.spaced(3);
		p {
			.background(@lighterGray);
			.darkGray();
			.padding(1.4; 2);
		}
		code {
			.background(@lighterGray);
		}
	}
	&__notice {
		.font-size(1.4);
		.spaced(3);
		p {
			.background(#f5f197);
			.darkGray();
			.padding(1.4; 2);
		}
	}
	&__methods {
		.font-size(1.4);
		.spaced(2);
		ul {
			.unstyled();
		}
		&.-bordered {
			.border(bottom; @lightGray; 1px; dotted);
		}
	}
	&__related {
		.font-size(1.4);
		.gray();
	}
}





/*------------------------------------*\
	# Structure
\*------------------------------------*/

.doc__collapsible {
	ul {
		.unstyled();
	}
}
.collapsibleList {
	&Closed,
	&Open {
		.cursor();
		&:before {
			.bold();
		}
	}
	&Closed {
		.prefix('+');
	}
	&Open {
		.prefix('-');
	}
}





/*------------------------------------*\
	# Blog
\*------------------------------------*/

.blog {
	&-comments {
		.margin(top; 6);
	}
}





/*------------------------------------*\
	# Code
\*------------------------------------*/

.hljs-comment,
.diff .hljs-header {
	color: #998;
	font-style: italic;
}
.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
	color: #333;
	font-weight: bold;
}
.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
	color: #008080;
}
.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula {
	color: #d14;
}
.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
	color: #900;
	font-weight: bold;
}
.hljs-list .hljs-keyword,
.hljs-subst {
	font-weight: normal;
}
.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
	color: #458;
	font-weight: bold;
}
.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,
.django .hljs-tag .hljs-keyword {
	color: #000080;
	font-weight: normal;
}
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.hljs-name {
	color: #008080;
}
.hljs-regexp {
	color: #009926;
}
.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
	color: #990073;
}
.hljs-built_in {
	color: #0086b3;
}
.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
	color: #999;
	font-weight: bold;
}
.hljs-deletion {
	background: #fdd;
}
.hljs-addition {
	background: #dfd;
}
.diff .hljs-change {
	background: #0086b3;
}
.hljs-chunk {
	color: #aaa;
}