/*------------------------------------*\
	# Custom
\*------------------------------------*/

@dark: #353942;
@dark3: darken(@dark, 3%);
@dark6: darken(@dark, 6%);
@dark9: darken(@dark, 9%);
@dark-6: lighten(@dark, 6%);
@dark-12: lighten(@dark, 12%);
@dark-30: lighten(@dark, 30%);

@light: #e7eaeb;
@light4: darken(@light, 4%);

@iconSearch: '\e800';
@iconArrow: '\e801';
@iconDownload: '\e802';
@iconWee: '\e804';
@iconClose: '\e805';
@iconMenu: '\e806';
@iconScheme: '\e807';


/*------------------------------------*\
	# Layout
\*------------------------------------*/

@maxWidth: 106;


/*------------------------------------*\
	# Base
\*------------------------------------*/

@baseFont: @headingFont;
@baseFontSize: 1.6;
@baseFontWeight: 300;

@bodyBackground: #f9f9f9;


/*------------------------------------*\
	# Headings
\*------------------------------------*/

@headingFont: Lato, sans-serif;
@headingFontWeight: 300;


/*------------------------------------*\
	# Buttons
\*------------------------------------*/

@buttonFont: @headingFont;
@buttonFontSize: 1.3;
@buttonFontWeight: 700;

@buttonPaddingHorizontal: 2.4;
@buttonPaddingVertical: 1.2;

@buttonRounded: 5;

@buttonBackground: @primary;

@buttonBorderColor: @primary;


/*------------------------------------*\
	# Forms
\*------------------------------------*/

@inputMinWidth: false;

@inputPlaceholderColor: @gray;


/*------------------------------------*\
	# Code
\*------------------------------------*/

@codeBlockBackground: @light;
@codeBlockColor: @baseColor;