{{> header }}

<div class="canvas-outer">
	<div class="canvas-inner">
		{{> sidebar }}

		<div class="container output" data-ref="primary">
			<main role="main">
				<ol class="breadcrumb" itemprop="breadcrumb">
					<li>
						<a href="/" rel="home" itemprop="url"><span itemprop="title">Home</span></a>
					</li>
					<li>{{ section.name }}</li>
				</ol>

				<div class="intro">
					<h1 class="intro__title">Development Blog</h1>
					{{ #heading|notEmpty }}
						<p class="intro__heading">{{ heading }}</p>
					{{ /heading }}
				</div>

				{{ #content|each }}
					<div class="blog__entry">
						<h2><a href="/blog/{{ sourceName|slug }}">{{ name }}</a></h2>
						<p>{{ excerpt }}</p>
					</div>
				{{ /content }}
			</main>
		</div>
	</div>
</div>

{{> footer }}