{{> header}}

<main role="main">
	<p class="container hero">Welcome to Wee, a lightweight front-end framework for logically building complex, responsive web projects.</p>

	<section class="container blog-preview">
		<h2 class="home-label">Blog</h2>
		<div class="blog-preview__columns">
			<div class="blog-preview__left">
				<h3 class="blog-preview__title"><a href="/blog/wee-3-released">Wee 3 Released</a></h3>
				<p class="blog-preview__copy">With dozens of new features and improvements, Wee 3 is the biggest release ever.</p>
			</div>
			<div class="blog-preview__right">
				<a href="/blog/wee-3-released" class="button">Read More</a>
			</div>
		</div>
	</section>

	<section class="container features">
		<h2 class="home-label">Features</h2>
		<ul class="features__list">
			<li class="features__item">
				<h3 class="features__title"><a href="/start/structure">Project organization</a></h3>
				<p class="features__copy">Wee is organized in a simple, scalable hierarchy with a consistent structure for both style and scripts.</p>
			</li>
			<li class="features__item">
				<h3 class="features__title"><a href="/style">Mobile-first CSS</a></h3>
				<p class="features__copy">With mobile traffic exceeding 50% globally its no longer a question of if but how. Wee answers the how.</p>
			</li>
			<li class="features__item">
				<h3 class="features__title"><a href="/script">JavaScript toolset</a></h3>
				<p class="features__copy">Wee's core JavaScript toolset brings logic to what can often become a daisy-chained nightmare.</p>
			</li>
			<li class="features__item">
				<h3 class="features__title"><a href="/build">Build process</a></h3>
				<p class="features__copy">Compiling, minifying, and optimizing everything can be a pain, but Wee manages it all with a simple config file.</p>
			</li>
			<li class="features__item">
				<h3 class="features__title"><a href="/generator">Static generator</a></h3>
				<p class="features__copy">Originating from a need for a style guide generator this feature grew to be able to build full sites like this one.</p>
			</li>
			<li class="features__item">
				<h3 class="features__title"><a href="#">Exceedingly scalable</a></h3>
				<p class="features__copy">Wee powers tens of millions of pageviews each month and is trusted by fortune 500 websites.</p>
			</li>
			<li class="features__item">
				<h3 class="features__title"><a href="#">Module extension</a></h3>
				<p class="features__copy">Wee modules plug into both the build process and the Less/JavaScript for seamless integration with core features.</p>
			</li>
			<li class="features__item">
				<h3 class="features__title"><a href="/script/polyfills">Legacy fallback</a></h3>
				<p class="features__copy">Wee still handles IE8 both with ease and without compromising modern browser features.</p>
			</li>
		</ul>
	</section>

	<section class="container highlights">
		<ul class="highlights__list">
			<li class="highlights__item">
				<h3 class="highlights__title"><a href="/start">Get started</a></h3>
				<p class="highlights__copy">Ease into the basics. We'll walk you through downloading Wee and setting up your first project.</p>
			</li>
			<li class="highlights__item">
				<h3 class="highlights__title"><a href="https://github.com/weepower/wee">View source</a></h3>
				<p class="highlights__copy">There's no better way to learn Wee than exploring the source. Dive into the code to learn more.</p>
			</li>
		</ul>
	</section>

	<section class="components">
		<div class="container">
			<ol class="components__list">
				<li class="components__item">
					<h3 class="components__title">Agency inspired</h3>
					<p class="components__copy">Wee is used every day by the <a href="https://www.caddis.co">Caddis</a> development team and designed to solve real problems in real projects.</p>
				</li>
				<li class="components__item">
					<h3 class="components__title">Moving forward</h3>
					<p class="components__copy">Not a day goes by we don't work to make Wee better. Our passion for front-end shows <a href="https://github.com/weepower/wee/commits/master">with every commit</a>.</p>
				</li>
				<li class="components__item">
					<h3 class="components__title">Open source</h3>
					<p class="components__copy">We're big fans of open source. The <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2 License</a> guarantees the freedom to use Wee without restriction.</p>
				</li>
			</ol>
		</div>
	</section>
</main>

{{> footer }}