/*------------------------------------*\
	# Global
\*------------------------------------*/

.load-font(wee);

html,
body {
	.min-height(100%);
}
.logo {
	.align(middle);
	.spaced(1);
	&:hover {
		.opacity(90%);
	}
	&,
	img {
		.inline-block(10.5; 3.5);
	}
}
.canvas {
	&-outer,
	&-inner {
		.fill();
		.max-width(1600px);
		.min-height(100%);
		.relative();
	}
	&-outer {
		.crop();
	}
	&-inner {
		.transition(margin);
		&.is-active {
			.margin(left; 18);
		}
	}
}
.mobile-nav {
	.color(@colorBlue);
	.cursor();
	.font-size(3);
	.spaced(2);
}
.breadcrumb {
	.font-size(1);
	.gray();
	.inline-list('/', 6px);
	.spaced(2.5);
	.uppercase();
}
.main {
	.relative();
}





/*------------------------------------*\
	# Sidebar
\*------------------------------------*/

.scrollable {
	.font-size(1.4);
	.size(18; 100%);
	.logo {
		.margin(3);
	}
	h3 {
		.font-size(1.2);
		.font-weight(400);
		.uppercase();
		a {
			.padding(left; 3);
		}
	}
	ul {
		.font(@headingFont);
		.font-weight(300);
		.unstyled();
		li {
			.spaced(0);
		}
		a {
			.block();
			.line-height(2.6);
			.padding(left; 3);
		}
	}
}
.sidebar {
	.absolute(0; false; false; -18);
	.background(@colorBlue; 'bg.svg');
	.background-position(center);
	.background-size(cover);
	&:hover {
		.thumb {
			.opacity(15%);
		}
	}
	a {
		.color(#d5e4e6);
		&:hover {
			.color(#e6db74);
		}
		&.is-active {
			.relative();
			&:before {
				.absolute();
				.color(@colorLightBlue);
				.content(@iconRight; Wee);
				.left(1.2);
			}
		}
	}
	h3 {
		.line-height(3.1);
		.spaced(0);
		a {
			.block();
			.white();
		}
	}
	ul {
		.border(bottom; light; 30%; 1px; dotted);
		.padding(bottom; 2.6);
		.spaced(.8);
		&:last-child {
			.border(bottom; none);
		}
	}
}
.subnav {
	.border(right; @lighterGray);
	.fixed(0; false; false; 0);
	.hide();
	.left(18);
	&:hover {
		.thumb {
			.opacity(5%);
		}
	}
	.viewport {
		.width(16.7);
	}
	.overview {
		.padding(vertical; 3);
	}
	h3 {
		.black();
		.padding(left; 3);
		.spaced(1.2);
	}
	a {
		.darkGray();
		&:hover {
			.black();
		}
		&.is-active {
			.relative();
			&:before {
				.absolute();
				.color(@lightGray);
				.content(@iconRight; Wee);
				.left(1.2);
			}
		}
	}
	.thumb {
		&:hover {
			.opacity(10%);
		}
		&:active {
			.opacity(15%);
		}
	}
	&--deprecated {
		a {
			.lightGray();
		}
	}
}
.search {
	.absolute(0; 0);
	.spaced(0);
	.z-index(100);
}





/*------------------------------------*\
	# Footer
\*------------------------------------*/

.footer {
	.lightGray();
	a {
		.gray();
		&:hover {
			.darkGray();
		}
	}
	&__license,
	&__links {
		.font-size(1.3; 1.4em);
	}
	&__license {
		.spaced-block(.8);
	}
	&__links {
		.inline-list(1.2);
		.spaced(3);
	}
	&--light {
		.color(@colorLightBlue);
		.padding(top; 6);
		a {
			.color(@colorLighterBlue);
			&:hover {
				.white();
			}
		}
	}
}





/*------------------------------------*\
	# Index
\*------------------------------------*/

.index-top {
	.background(@colorBlue; 'bg.svg');
	.background-attachment(fixed);
	.background-position(right);
	.background-size(cover);
	.max-height(60);
	.padding(bottom; 14%);
}
.header {
	.padding(vertical; 6%);
}
.heading {
	.color(@colorLightBlue);
	.font-size(2.3);
	.font-weight(100);
	.spaced(0);
}
.header {
	&--index {
		.heading {
			.animation(fade-in .6s .2s ease-out forwards);
			.transparent();
		}
	}
}
.welcome {
	.animation(fade-in .6s .4s ease-out forwards);
	.color(@colorMediumBlue);
	.font(@headingFont; 1.6);
	.font-weight(300);
	.spaced(3);
	.transparent();
}
.nav {
	&__button {
		.border(@colorMediumBlue);
		.fill();
		.font(@headingFont; 1.2);
		.spaced(1);
		.translate(0; -1);
		.transparent();
		.uppercase();
		& {
			.background(transparent);
		}
		&:focus,
		&:hover {
			.background(light; 5%; @colorTeal);
			.outline(none);
		}
		&:active {
			.background(light; 10%; @colorTeal);
			.outline(none);
		}
		&:first-child {
			.animation(fade-in .4s .4s ease-out forwards, slide-in .5s .3s ease-out forwards;);
		}
		&:nth-child(2) {
			.animation(fade-in .4s .6s ease-out forwards, slide-in .5s .5s ease-out forwards;);
		}
		&:last-child {
			.animation(fade-in .4s .8s ease-out forwards, slide-in .5s .7s ease-out forwards;);
		}
	}
}
.keyframes(fade-in, {
	.transparent();
}, {
	.opaque();
});
.keyframes(slide-in, {
	.translate(0; -1);
}, {
	.translate();
});
.info {
	p {
		.darkGray();
		.font(@headingFont);
		.font-weight(300);
		.spaced();
	}
}
.post {
	.padding(vertical; 4%; 7%);
	&__title {
		.font-size(2.4);
		.font-weight(300);
		.spaced(.4);
		a {
			.darkerGray();
			&:hover {
				.underline();
			}
		}
	}
	&__excerpt {
		.font(@headingFont);
		.font-weight(300);
		.darkGray();
	}
	.button {
		.fill();
		.font(@headingFont; 1.2);
		.uppercase();
	}
	p {
		.gray();
		.spaced(2);
	}
}
.features {
	.background(@colorLightBlue);
	.padding(vertical; 5%; 3%);
	p {
		.spaced(4);
	}
	&__header {
		.font-size(2.3);
		.font-weight(300);
		.spaced(.4);
	}
	&__text {
		.darkerGray();
		.font(@headingFont; 1.6);
		.font-weight(300);
		.spaced(4);
	}
	&__list {
		.unstyled();
		li {
			.spaced(3);
		}
		h3 {
			.font-size(1.8);
			.font-weight(400);
			.spaced(1);
			a {
				.block();
				.suffix(@iconRight; 1.2; Wee);
				&:after {
					.font-size(1.6);
				}
			}
		}
		p {
			.spaced(0);
		}
	}
	figure {
		.padding(0);
		.border(none);
		.spaced(1);
		img {
			.spaced(1);
		}
	}
	figcaption {
		.font-size(1.5);
		.line-height(1.8em);
	}
}
.components {
	.padding(vertical; 3%);
	&__list {
		.unstyled();
		li {
			.spaced(3);
		}
	}
	h3 {
		.darkerGray();
		.font-size(2.3);
		.font-weight(300);
		.spaced(1);
	}
}
.highlights {
	.background(@lightestGray);
	.padding(vertical; 3%);
	.spaced(5);
	&__list {
		.unstyled();
		li {
			.spaced(3);
		}
	}
	h3 {
		.font-size(2.8);
		.font-weight(300);
		.spaced(1);
		a {
			.block();
			&.icon-help {
				.prefix(@iconHelp; 1.2; Wee);
			}
			&.icon-github {
				.prefix(@iconGithub; 1.2; Wee);
			}
		}
	}
	p {
		.font-size(1.8);
	}
}





/*------------------------------------*\
	# Docs
\*------------------------------------*/

.primary {
	.background();
	.max-width(800px);
	.padding(vertical; 2.8; 2);
	.relative();
	.transition(margin-left);
	.z-index(100);
	.footer {
		.margin(top; 6);
	}
}
.intro {
	.border(bottom; @lightGray; 1px; dotted);
	.spaced(3);
	&__title {
		.spaced(0);
	}
	&__link {
		.font-size(.8em);
		.lightGray();
		.line-height(1em);
		&:hover {
			.gray();
		}
	}
	&__heading {
		.h5();
		.gray();
		.spaced(2);
	}
}
.doc {
	&__title {
		.margin(vertical; 8; 2);
		.relative();
		a {
			.lightGray();
			&:hover {
				.gray();
			}
		}
		& + .doc__heading {
			.margin(top; -2);
		}
	}
	&__heading {
		.font(@headingFont; 1.8);
		.gray();
		.line-height(1.5em);
		.margin(vertical; -1.5; 2);
	}
	&__anchor {
		.absolute(0; false; false; -2.8);
		.color(@colorTeal);
		.font-weight(100);
		.hide();
		&:focus {
			.outline(none);
		}
	}
	&__link {
		.font-size(.8em);
		.line-height(1em);
	}
	&__label {
		.darkGray();
		.font-size(2.4);
		.spaced(.6);
	}
	&__variables {
		.border(@lighterGray);
		.responsive-table();
		+ .doc__variables__label {
			.gray();
			.font-size(1.8);
			.margin(top; -1.6);
		}
		+ .doc__note {
			.margin(top; -2);
		}
		table {
			.font-size(1.3);
			ul {
				.line-height(1.5em);
				.spaced(0);
			}
		}
		th,
		td {
			.no-wrap();
			&:nth-child(5) {
				.align(center);
				.width(9);
			}
		}
		td {
			.darkGray();
			.line-height(1.5em);
			&:first-child {
				.bold();
			}
		}
		&__notes {
			.font-size(1.3);
			.line-height(1.5em);
			.gray();
			.padding(1.2; .8; .6; .8);
			.spaced(0);
		}
		&--variables {
			th,
			td {
				&:nth-child(-n+3) {
					.width(12);
				}
			}
		}
		&--response {
			th,
			td {
				&:nth-child(2) {
					.width(12);
				}
			}
		}
	}
	&__code {
		+ .doc__code {
			.clear();
			.margin(top; -2);
		}
		&--stacked {
			pre + pre {
				.margin(top; -2);
			}
		}
		&--boolean,
		&--object,
		&--string,
		&--number,
		&--array {
			pre {
				&:last-child {
					.relative();
					.spaced(3);
					&:before {
						.absolute(-2.6; false; false; 0);
						.background(@lightGray);
						.content('Response');
						.fill();
						.font(Arial; .8);
						.padding(3px; 5px);
						.uppercase();
					}
				}
			}
		}
		&--boolean {
			.responseText('Response / Boolean');
		}
		&--object {
			.responseText('Response / Object');
		}
		&--string {
			.responseText('Response / String');
		}
		&--number {
			.responseText('Response / Number');
		}
		&--array {
			.responseText('Response / Array');
		}
		&__label {
			.font-size(2.4);
		}
	}
	&__note {
		.font-size(1.4);
		.spaced(3);
		p {
			.background(@lightestGray);
			.darkGray();
			.padding(1.4; 2);
		}
		code {
			.background(@lighterGray);
		}
	}
	&__notice {
		.font-size(1.4);
		.spaced(3);
		p {
			.background(#f5f197);
			.darkGray();
			.padding(1.4; 2);
		}
	}
	&__methods {
		.font-size(1.4);
		.spaced(2);
		ul {
			.unstyled();
		}
		&--bordered {
			.border(bottom; @lightGray; 1px; dotted);
		}
	}
	&__related {
		.font-size(1.4);
		.gray();
	}
}





/*------------------------------------*\
	# Structure
\*------------------------------------*/

.doc__collapsible {
	ul {
		.unstyled();
	}
}
.collapsibleList {
	&Closed,
	&Open {
		.cursor();
		&:before {
			.bold();
		}
	}
	&Closed {
		.prefix('+');
	}
	&Open {
		.prefix('-');
	}
}





/*------------------------------------*\
	# Blog
\*------------------------------------*/

.blog {
	.background();
	&-comments {
		.margin(top; 6);
	}
}





/*------------------------------------*\
	# 404
\*------------------------------------*/

.not-found {
	.background(@colorBlue; 'bg.svg');
	.background-position(center);
	.background-size(cover);
	p {
		.color(@colorMediumBlue);
		.font(@headingFont; 1.7);
		.font-weight(300);
	}
}





/*------------------------------------*\
	# Code
\*------------------------------------*/

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: @gray;
}
.token.punctuation {
	color: #f8f8f2;
}
.namespace {
	opacity: .7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}
.token.boolean,
.token.number {
	color: #ae81ff;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}
.token.atrule,
.token.attr-value {
	color: #e6db74;
}
.token.keyword {
	color: #66d9ef;
}
.token.regex,
.token.important {
	color: #fd971f;
}
.token.important {
	font-weight: bold;
}
.token.entity {
	cursor: help;
}