// Add custom variables here
// Values from ../../wee/style/wee.variables.less can be overridden in this file
// Sample overrides below can be removed

/*------------------------------------*\
	# Colors
\*------------------------------------*/

@colorBlue: #006e8c;
@colorTeal: #008289;


/*------------------------------------*\
	# Base
\*------------------------------------*/

@baseColor: @darkerGray;


/*------------------------------------*\
	# Headings
\*------------------------------------*/

@headingFont: Lato, sans-serif;

@headingColor: @darkestGray;


/*------------------------------------*\
	# Mobile Nav
\*------------------------------------*/

@mobileNavTop: 0;
@mobileNavLeft: 0;
@mobileNavWidth: 24px;
@mobileNavBorderColor: @colorBlue;


/*------------------------------------*\
	# Code
\*------------------------------------*/

@codeBlockRounded: false;


/*------------------------------------*\
	# Tables
\*------------------------------------*/

@tableBordered: false;