{{> header}}
<body>
<div class="page-top">
	<div class="container">
		<header role="banner">
			<a href="/" rel="home" class="logo">
				<img src="{{site.assetUrl}}/img/wee.svg" alt="Wee Framework">
			</a>
		</header>
		<main role="main" class="not-found">
			<h1 class="heading">Page not found</h1>
			<p>Sorry, the resource you are trying to view does not exist.</p>
		</main>
	</div>
</div>
<div class="page-bottom">
	<footer role="contentinfo" class="container footer">
		{{> footer}}
	</footer>
</div>
<script src="{{site.assetUrl}}/js/script.min.js"></script>
</body>
</html>