{{> header}}
<body>
<div class="index-top">
	<header role="banner" class="header header--index">
		<div class="container">
			<a href="/" rel="home" class="logo">
				<img src="{{site.assetUrl}}/img/wee.svg" alt="Wee Framework">
			</a>
			<h1 class="heading">{{#content}}{{input}}{{/content}}</h1>
		</div>
	</header>
	<div class="container">
		<p class="welcome">Welcome to Wee, a lightweight front-end framework for logically building complex, responsive web projects.</p>
		<nav role="navigation" class="nav">
			<a href="/start" class="button nav__button">
				Documentation</a>
			<a href="#" class="button nav__button wistia-popover[height=394,playerColor=169ca3,width=700]">Watch Video</a>
			<a href="https://github.com/weepower/wee/archive/master.zip" class="button nav__button">Download {{site.version}}</a>
		</nav>
	</div>
</div>
<main role="main">
	<section class="info post">
		<div class="container">
			<div class="post__columns">
				<div class="post__left">
					<h2 class="post__title"><a href="/blog/wee-2.1-released">Wee 2.1.0 Released</a></h2>
					<p>Today marks an exciting milestone for Wee and brings some exciting new features.</p>
				</div>
				<div class="post__right">
					<a href="/blog/wee-2.1-released" class="button button-colored">Read More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="info features">
		<div class="container">
			<h2 class="features__header">Features</h2>
			<p class="features__text">Wee gives you a bootstrap of HTML, CSS, and JavaScript components which are simple to use and easily extendable.</p>
			<ul class="features__list">
				<li>
					<figure>
						<img src="{{site.assetUrl}}/img/console.png" alt="">
						<figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</figcaption>
					</figure>
				</li>
				<li>
					<h3><a href="/start/structure">Project organization</a></h3>
					<p>Wee is organized in a simple, scalable hierarchy with a consistent structure for both style and scripts.</p>
				</li>
				<li>
					<h3><a href="/style">Mobile-first CSS</a></h3>
					<p>With mobile traffic exceeding 50% globally its no longer a question of if but how. Wee answers that.</p>
				</li>
				<li>
					<h3><a href="/script">JavaScript toolset</a></h3>
					<p>Wee's core JavaScript modules create logic to what can easily become a daisy-chained mess.</p>
				</li>
				<li>
					<h3><a href="/build">Build process</a></h3>
					<p>Making everything compile, minify, and optimized isn't easy but Wee wraps it all in into a simple config file.</p>
				</li>
				<li>
					<figure>
						<img src="{{site.assetUrl}}/img/console.png" alt="">
						<figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</figcaption>
					</figure>
				</li>
				<li>
					<h3><a href="/generator">Static generator</a></h3>
					<p>Originating from a need for a style guide generator this feature grew to be able to build full sites like this one.</p>
				</li>
				<li>
					<h3>Exceedingly scalable</h3>
					<p>Wee powers tens of millions of pageviews each month and is trusted by fortune 500 websites.</p>
				</li>
				<li>
					<h3>Module extension</h3>
					<p>Wee modules plug into both the build system and the Less for truly seamless integration with core features.</p>
				</li>
				<li>
					<h3><a href="/script/polyfills">Legacy fallback</a></h3>
					<p>Wee still handles IE8 both with ease and without compromising modern browser features.</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="info components">
		<div class="container">
			<ol class="components__list">
				<li>
					<h3>Agency inspired</h3>
					<p>Created and maintained by the team at <a href="https://www.caddis.co">Caddis</a>, Wee is fueled by solving real problems in real projects.</p>
				</li>
				<li>
					<h3>Moving forward</h3>
					<p>Not a day goes by we don't work to make Wee better. Our passion for front-end shows <a href="https://github.com/weepower/wee/commits/master">with every commit</a>.</p>
				</li>
				<li>
					<h3>Open source</h3>
					<p>We're huge fans of open source. The <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2 License</a> guarantees the freedom to use Wee without reservation.</p>
				</li>
			</ol>
		</div>
	</section>
	<section class="info highlights">
		<div class="container">
			<ul class="highlights__list">
				<li>
					<h3><a href="/start" class="icon-help">Get started</a></h3>
					<p>Ease into the basics. We'll walk you through downloading Wee and setting up your first project.</p>
				</li>
				<li>
					<h3><a href="https://github.com/weepower/wee" class="icon-github">View source</a></h3>
					<p>There's no better way to learn Wee than exploring the source. Dive into the code to learn more.</p>
				</li>
			</ul>
		</div>
	</div>
</main>
<div class="layout-bottom">
	<footer role="contentinfo" class="container footer">
		{{> footer}}
	</footer>
</div>
<script src="{{site.assetUrl}}/js/script.min.js"></script>
</body>
</html>