@import (reference) '../less/wee.variables.less'; // Core configuration

@import '../less/wee.reset.less';                 // Reset
.wee-reset();

@import '../less/wee.mixins.less';                // Core mixins

// Inject imports
@import "../less/components/wee.code.less";
@import "../less/components/wee.forms.less";
@import "../less/components/wee.buttons.less";
@import "../less/components/wee.tables.less";

// Responsive
@import "../less/wee.responsive.less";

// Print
@media print {
	@import (inline) "../less/wee.print.less";
}

// Framework
@responsivePath: 'custom/breakpoints';


/*------------------------------------*\
	# Global Variables
\*------------------------------------*/

@codeEnabled: true;
@tableEnabled: true;
@formEnabled: true;
@buttonEnabled: true;
@responsiveEnabled: true;
@printEnabled: true;

@mobileLandscapeWidth: false;
@tabletPortraitWidth: false;
@desktopSmallWidth: false;
@desktopMediumWidth: false;
@desktopLargeWidth: false;
@responsiveOffset: false;


/*------------------------------------*\
	# iFrame styling
\*------------------------------------*/

.contain {
	.fill(both);
}
.pattern {
	.border(left; #e7eaeb; .2);
	.padded(4);
	&__sub {
		.padding(left; 2);
	}
}
.main {
	.padding(3; 15);
}
.font {
	&:after {
		.content(@baseFont);
		.right();
	}
	&.-heading {
		&:after {
			.content(@headingFont);
		}
	}
	&.-desc-title {
		&:after {
			.content(@dtFont);
		}
	}
	&.-desc {
		&:after {
			.content(@ddFont);
		}
	}
	&.-quote {
		&:after {
			.content(@quoteFont);
		}
	}
	&.-cite {
		&:after {
			.content(@citeFont);
		}
	}
	&.-address {
		&:after {
			.content(@addressFont);
		}
	}
	&.-code {
		&:after {
			.content(@codeFont);
		}
	}
	&.-block {
		&:after {
			.content(@codeBlockFont);
		}
	}
	&.-input {
		&:after {
			.content(@inputFont);
		}
	}
	&.-legend {
		&:after {
			.content(@legendFont);
		}
	}
	&.-button {
		&:after {
			.content(@buttonFont);
		}
	}
}
.heading {
	.font(@headingFont; 3.2; 700; 1.4);
	.spaced(2);
	&.-subtitle {
		.font-size(2.2);
	}
}
.unstyled {
	.unstyled();
}
footer {
	.align(center);
	.padding(top; 3);
	small {
		.font-size(1.3; 1.4em);
		.spaced-block(1);
	}
	ul {
		.font-size(1.4);
		.inline-list(.8);
	}
	a {
		&:hover {
			.underline();
		}
	}
}